# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Python Compile
*.pyc


# Precompile Files
public/data/**/*.html

precompile/Nintendo Switch - Pokemon HOME - Pokemon Icons